In [1]:
import pandas as pd

# Lendo o arquivo csv
resultados_exames = pd.read_csv('data\exames.csv')

# Visualizando as 5 primeiras linhas
resultados_exames.head()

,id,diagnostico,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
0,842302,M,17.99,10.38,122.80,103.78,1001.0,0.11840,0.27760,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.786,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,103.78,1326.0,0.08474,0.07864,0.0869,...,158.80,1956.0,0.1238,0.1866,0.2416,0.786,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,103.78,1203.0,0.10960,0.15990,0.1974,...,152.50,1709.0,0.1444,0.4245,0.4504,0.786,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,103.78,386.1,0.14250,0.28390,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.786,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,103.78,1297.0,0.10030,0.13280,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.786,0.1625,0.2364,0.07678,0.854454

In [2]:
# verificando os valores nulos
resultados_exames.isnull().sum()

id               0
diagnostico      0
exame_1          0
exame_2          0
exame_3          0
exame_4          0
exame_5          0
exame_6          0
exame_7          0
exame_8          0
exame_9          0
exame_10         0
exame_11         0
exame_12         0
exame_13         0
exame_14         0
exame_15         0
exame_16         0
exame_17         0
exame_18         0
exame_19         0
exame_20         0
exame_21         0
exame_22         0
exame_23         0
exame_24         0
exame_25         0
exame_26         0
exame_27         0
exame_28         0
exame_29         0
exame_30         0
exame_31         0
exame_32         0
exame_33       419
dtype: int64

In [3]:
resultados_exames = resultados_exames.drop(columns='exame_33')
resultados_exames.isnull().sum()

id             0
diagnostico    0
exame_1        0
exame_2        0
exame_3        0
exame_4        0
exame_5        0
exame_6        0
exame_7        0
exame_8        0
exame_9        0
exame_10       0
exame_11       0
exame_12       0
exame_13       0
exame_14       0
exame_15       0
exame_16       0
exame_17       0
exame_18       0
exame_19       0
exame_20       0
exame_21       0
exame_22       0
exame_23       0
exame_24       0
exame_25       0
exame_26       0
exame_27       0
exame_28       0
exame_29       0
exame_30       0
exame_31       0
exame_32       0
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split
from numpy import random

SEED = 123143
random.seed(SEED)

# Separando os dados de treino e teste
exames = resultados_exames.drop(columns=['id', 'diagnostico'])
diagnostico = resultados_exames.diagnostico

# Separando os dados de treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(exames, diagnostico, test_size=0.3)

Random Forest

Random Forest é um algoritmo de aprendizado supervisionado. A "floresta" que ele constrói, é um conjunto de Árvores de Decisão, geralmente treinadas com o método de "bagging". A ideia geral do método de bagging é que a combinação de modelos de aprendizado aumenta o resultado geral.

In [5]:
from sklearn.ensemble import RandomForestClassifier

# Criando o modelo
random_forest_model = RandomForestClassifier(n_estimators=100) # n_estimators = número de árvores

random_forest_model.fit(x_treino, y_treino) # Treinando o modelo

print(f'Random Forest: {random_forest_model.score(x_teste, y_teste) * 100:.2f}%')

Random Forest: 92.40%

Baseline

A baseline é o modelo que usaremos como comparação para os outros modelos.

O DummyClassifier é um classificador que faz previsões usando regras simples e que serve como baseline para outros classificadores.

In [6]:
from sklearn.dummy import DummyClassifier

# Criando o modelo
dummy_model = DummyClassifier(strategy='most_frequent')

dummy_model.fit(x_treino, y_treino) # Treinando o modelo

print(f'Dummy: {dummy_model.score(x_teste, y_teste) * 100:.2f}%')

Dummy: 66.67%

Violin Plot

Violin Plot é um gráfico que combina um boxplot e um gráfico de densidade. Ele mostra a distribuição de dados em diferentes níveis de uma variável categórica.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

dados_plot = pd.concat([diagnostico, exames.iloc[:,0:10]], axis=1)
dados_plot = pd.melt(dados_plot, id_vars='diagnostico', var_name='exames', value_name='valores')

plt.figure(figsize=(20, 20))

sns.violinplot(x='exames', y='valores', hue='diagnostico', data=dados_plot)
plt.xticks(rotation=90)

plt.show() # violinplot01.png

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(exames) # Calculando a média e o desvio padrão

exames_escalados = scaler.transform(exames) # Aplicando a padronização

exames_escalados = pd.DataFrame(exames_escalados, columns=exames.keys()) # Transformando em dataframe

dados_plot = pd.concat([diagnostico, exames_escalados.iloc[:,0:10]], axis=1)
dados_plot = pd.melt(dados_plot, id_vars='diagnostico', var_name='exames', value_name='valores')

plt.figure(figsize=(20, 20))

sns.violinplot(x='exames', y='valores', hue='diagnostico', data=dados_plot, split=True)
plt.xticks(rotation=90)

plt.show() # violinplot02.png

In [9]:
exames.exame_4 # Visualizando os dados da coluna exame_4, são dados constantes

0      103.78
1      103.78
2      103.78
3      103.78
4      103.78
        ...
564    103.78
565    103.78
566    103.78
567    103.78
568    103.78
Name: exame_4, Length: 569, dtype: float64

In [10]:
def violingraph (valores, inicio, fim):
    
    dados_plot = pd.concat([diagnostico, exames_escalados.iloc[:,inicio:fim]], axis=1)
    dados_plot = pd.melt(dados_plot, id_vars='diagnostico', var_name='exames', value_name='valores')
    
    plt.figure(figsize=(20, 20))
    
    sns.violinplot(x='exames', y='valores', hue='diagnostico', data=dados_plot, split=True)
    plt.xticks(rotation=90)
    
    plt.show()

In [ ]:
violingraph(exames_escalados, 10, 21) # violinplot03.png

In [ ]:
violingraph(exames_escalados, 21, 32) # violinplot04.png

In [13]:
exames_v3 = exames_escalados.drop(columns=['exame_4', 'exame_29']) # Removendo as colunas constantes

In [14]:
def classifier (valores):
    
    SEED = 1234
    random.seed(SEED)
    x_treino, x_teste, y_treino, y_teste = train_test_split(valores, diagnostico, test_size=0.3)
    
    random_forest_model = RandomForestClassifier(n_estimators=100)
    random_forest_model.fit(x_treino, y_treino)
    
    print(f'Random Forest: {random_forest_model.score(x_teste, y_teste) * 100:.2f}%')

In [15]:
classifier(exames_v3)

Random Forest: 92.98%