In [1]:
import pandas as pd

dataframe = pd.read_csv('data\CC_GENERAL.csv')

dataframe.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [2]:
dataframe.drop('CUST_ID', axis=1, inplace=True)
dataframe.drop('TENURE', axis=1, inplace=True)

dataframe.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000
1,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222
2,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000
3,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000
4,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000

In [3]:
missing = dataframe.isnull().sum()

print(missing)

BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
dtype: int64

In [4]:
dataframe.fillna(dataframe.median(), inplace=True)

missing = dataframe.isnull().sum()

print(missing)

BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
dtype: int64

In [5]:
from sklearn.preprocessing import Normalizer

values = Normalizer().fit_transform(dataframe.values)

In [6]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=5, n_init=10, max_iter=300)
 
y_pred = kmeans.fit_predict(values)

Silhouette Score:

Quanto mais próximo de 1, melhor. O valor 0 indica clusters sobrepostos e valores negativos indicam que os dados foram atribuídos ao cluster errado.

In [7]:
from sklearn import metrics

labels = kmeans.labels_
silhouette_score = metrics.silhouette_score(values, labels, metric='euclidean')

print(silhouette_score)

0.36454314826693845

Davies-Bouldin

Indica a distância média entre os clusters. Quanto menor o valor, melhor.

In [8]:
dbs = metrics.davies_bouldin_score(values, labels)

print(dbs)

1.075812734747931

Calinski-Harabasz

Indica a dispersão entre os clusters. Quanto maior o valor, melhor.

In [9]:
calinski = metrics.calinski_harabasz_score(values, labels)

print(calinski)

3431.8005407346513

In [10]:
def clustering_algorithm(n_clusters, data):
    kmeans = KMeans(n_clusters=n_clusters, n_init=10, max_iter=300)
    labels = kmeans.fit_predict(data)
    silhouette_score = metrics.silhouette_score(data, labels, metric='euclidean')
    dbs = metrics.davies_bouldin_score(data, labels)
    calinski = metrics.calinski_harabasz_score(data, labels)
    return silhouette_score, dbs, calinski

In [11]:
s1, d1, c1 = clustering_algorithm(3, values)

print(s1, d1, c1)

0.32724464582661594 1.309350766214331 3526.4668344515408

In [12]:
s2, d2, c2 = clustering_algorithm(5, values)

print(s2, d2, c2)

0.36454479258047573 1.0760464906093192 3431.7903477169225

In [13]:
s3, d3, c3 = clustering_algorithm(10, values)

print(s3, d3, c3)

0.30619733752218914 1.1906188866308633 3011.4567909557372

In [14]:
s4, d4, c4 = clustering_algorithm(15, values)

print(s4, d4, c4)

0.2999623923855348 1.1601915137859298 2703.016094021963

In [15]:
s5, d5, c5 = clustering_algorithm(100, values)

print(s5, d5, c5)

0.21481943267456202 1.2755558363383053 1167.1833480085256

5 clusters apresentaram o melhor resultado para o KMeans. Vamos validar esses valores contra dados aleatórios.

In [16]:
import numpy as np

random_data = np.random.rand(8950, 16)
s, d, c = clustering_algorithm(5, random_data)

print(f'Silhouette Score: {s}\nDavies Bouldin Score: {d}\nCalinski Harabasz Score: {c}')

Silhouette Score: 0.03937402342948095
Davies Bouldin Score: 3.595016018839425
Calinski Harabasz Score: 302.05972613970874

Verificando a estaabilidade do modelo

In [17]:
set1, set2, set3 = np.array_split(values, 3)
s1, d1, c1 = clustering_algorithm(5, set1)
s2, d2, c2 = clustering_algorithm(5, set2)
s3, d3, c3 = clustering_algorithm(5, set3)

print(s1, d1, c1)
print(s2, d2, c2)
print(s3, d3, c3)

0.3692455604046628 1.0550439720459237 1203.9722444846886
0.35416642754504835 1.1382306445993162 1194.9519865048878
0.36704188760608253 1.0984932613776763 1167.5309516804

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(dataframe['PURCHASES'], dataframe['PAYMENTS'], c=labels, s=5, cmap='rainbow')
plt.xlabel('Purchases')
plt.ylabel('Payments')
plt.show() # purchasevspayment.png

In [ ]:
import seaborn as sns

dataframe['cluster'] = labels

sns.pairplot(dataframe[0:], hue='cluster', palette='husl') # pairplot.png

In [ ]:
dataframe.groupby('cluster').describe()

Atributos com as maiores variancias são os que mais influenciam no resultado do modelo. Vamos verificar quais são eles.

In [32]:
centroids = kmeans.cluster_centers_

max = len(centroids[0])

for i in range(max):
    print(dataframe.columns.values[i], "{:.4f}".format(centroids[:, i].var()))

BALANCE 0.0224
BALANCE_FREQUENCY 0.0000
PURCHASES 0.0197
ONEOFF_PURCHASES 0.0077
INSTALLMENTS_PURCHASES 0.0036
CASH_ADVANCE 0.0225
PURCHASES_FREQUENCY 0.0000
ONEOFF_PURCHASES_FREQUENCY 0.0000
PURCHASES_INSTALLMENTS_FREQUENCY 0.0000
CASH_ADVANCE_FREQUENCY 0.0000
CASH_ADVANCE_TRX 0.0000
PURCHASES_TRX 0.0000
CREDIT_LIMIT 0.0360
PAYMENTS 0.0280
MINIMUM_PAYMENTS 0.0543
PRC_FULL_PAYMENT 0.0000

BALANCE 0.0224

PURCHASES 0.0197

CASH_ADVANCE 0.0225

CREDIT_LIMIT 0.0360

PAYMENTS 0.0280

In [39]:
description = dataframe.groupby('cluster')[["BALANCE", "PURCHASES", "CASH_ADVANCE", "CREDIT_LIMIT", "PAYMENTS"]]

n_clients = description.size()

description = description.mean()

description['n_clients'] = n_clients

description

,BALANCE,PURCHASES,CASH_ADVANCE,CREDIT_LIMIT,PAYMENTS,n_clients
cluster,,,,,,
0,443.746756,629.249107,141.482978,5130.547795,814.294226,3280
1,3037.962543,385.248630,1636.917210,4495.771989,968.890376,2649
2,1795.328292,476.810531,3267.199032,3982.452201,4713.384730,1073
3,1142.320861,3273.425517,183.376625,4097.306540,3036.763695,1537
4,1987.501586,854.865815,421.129352,2227.737226,1336.238911,411