In [1]:
import pandas as pd

dataframe = pd.read_csv('data\CC_GENERAL.csv')

dataframe.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [2]:
dataframe.drop('CUST_ID', axis=1, inplace=True)
dataframe.drop('TENURE', axis=1, inplace=True)

dataframe.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000
1,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222
2,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000
3,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000
4,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000

In [3]:
missing = dataframe.isnull().sum()

print(missing)

BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
dtype: int64

In [4]:
dataframe.fillna(dataframe.median(), inplace=True)

missing = dataframe.isnull().sum()

print(missing)

BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
dtype: int64

In [5]:
from sklearn.preprocessing import Normalizer

values = Normalizer().fit_transform(dataframe.values)

In [6]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=5, n_init=10, max_iter=300)
 
y_pred = kmeans.fit_predict(values)

Silhouette Score:

Quanto mais próximo de 1, melhor. O valor 0 indica clusters sobrepostos e valores negativos indicam que os dados foram atribuídos ao cluster errado.

In [7]:
from sklearn import metrics

labels = kmeans.labels_
silhouette_score = metrics.silhouette_score(values, labels, metric='euclidean')

print(silhouette_score)

0.36454479258047573

Davies-Bouldin

Indica a distância média entre os clusters. Quanto menor o valor, melhor.

In [8]:
dbs = metrics.davies_bouldin_score(values, labels)

print(dbs)

1.0760464906093192

Calinski-Harabasz

Indica a dispersão entre os clusters. Quanto maior o valor, melhor.

In [9]:
calinski = metrics.calinski_harabasz_score(values, labels)

print(calinski)

3431.7903477169225

In [10]:
def clustering_algorithm(n_clusters, data):
    kmeans = KMeans(n_clusters=n_clusters, n_init=10, max_iter=300)
    labels = kmeans.fit_predict(data)
    silhouette_score = metrics.silhouette_score(data, labels, metric='euclidean')
    dbs = metrics.davies_bouldin_score(data, labels)
    calinski = metrics.calinski_harabasz_score(data, labels)
    return silhouette_score, dbs, calinski

In [11]:
s1, d1, c1 = clustering_algorithm(3, values)

print(s1, d1, c1)

0.3272203126696238 1.3096073640088426 3526.440519908274

In [12]:
s2, d2, c2 = clustering_algorithm(5, values)

print(s2, d2, c2)

0.3645055324417282 1.0756856623533981 3431.800717231779

In [13]:
s3, d3, c3 = clustering_algorithm(10, values)

print(s3, d3, c3)

0.3502512978283904 1.1210416316050558 3018.9872864933077

In [14]:
s4, d4, c4 = clustering_algorithm(15, values)

print(s4, d4, c4)

0.3013875099894686 1.157814749697664 2703.316667278485

In [15]:
s5, d5, c5 = clustering_algorithm(100, values)

print(s5, d5, c5)

0.22084845836835154 1.2441329234591367 1166.3366436715644

5 clusters apresentaram o melhor resultado para o KMeans. Vamos validar esses valores contra dados aleatórios.

In [16]:
import numpy as np

random_data = np.random.rand(8950, 16)
s, d, c = clustering_algorithm(5, random_data)

print(f'Silhouette Score: {s}\nDavies Bouldin Score: {d}\nCalinski Harabasz Score: {c}')

Silhouette Score: 0.04028420030411377
Davies Bouldin Score: 3.5060666917016468
Calinski Harabasz Score: 304.28072948511084

Verificando a estabilidade do modelo

In [17]:
set1, set2, set3 = np.array_split(values, 3)
s1, d1, c1 = clustering_algorithm(5, set1)
s2, d2, c2 = clustering_algorithm(5, set2)
s3, d3, c3 = clustering_algorithm(5, set3)

print(s1, d1, c1)
print(s2, d2, c2)
print(s3, d3, c3)

0.3688947154953087 1.055784613959729 1204.1072420939454
0.35406999696241026 1.1389554530299946 1194.9454119497238
0.3668564117315988 1.0993525253456347 1167.5313082261503

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(dataframe['PURCHASES'], dataframe['PAYMENTS'], c=labels, s=5, cmap='rainbow')
plt.xlabel('Purchases')
plt.ylabel('Payments')
plt.show() # purchasevspayment.png

In [19]:
import seaborn as sns

dataframe['cluster'] = labels

sns.pairplot(dataframe[0:], hue='cluster', palette='husl') # pairplot.png

In [20]:
dataframe.groupby('cluster').describe()

        BALANCE
          count         mean          std        min          25%
cluster
0        3279.0   443.776995   846.525522   0.000000    23.340435  \
1         412.0  1987.146873  1852.215743  70.794108  1020.146724
2        2650.0  3036.946177  2478.922442   6.824905  1255.154881
3        1536.0  1141.865757  1664.809840   0.000000   212.178230
4        1073.0  1795.328292  1982.485775   0.000000   507.076999

                                                BALANCE_FREQUENCY
                 50%          75%           max             count      mean
cluster
0          82.902896   410.659944   9630.367575            3279.0  0.774514  \
1        1338.918346  2133.415063  11670.179850             412.0  0.989512
2        2173.994774  4223.858877  18495.558550            2650.0  0.963514
3         554.332740  1370.056708  19043.138560            1536.0  0.928220
4        1088.056301  2315.003636  14581.459140            1073.0  0.862260

         ... MINIMUM_PAYMENTS               PRC_FULL_PAYMENT
         ...              75%           max            count      mean
cluster  ...
0        ...       248.766884   4483.503862           3279.0  0.246881  \
1        ...      7086.774783  76406.207520            412.0  0.019271
2        ...      1330.541571   8345.641905           2650.0  0.001798
3        ...       523.540210  18621.013310           1536.0  0.278331
4        ...       884.183626  21235.065300           1073.0  0.117430


              std  min  25%       50%       75%  max
cluster
0        0.346775  0.0  0.0  0.000000  0.444444  1.0
1        0.090795  0.0  0.0  0.000000  0.000000  1.0
2        0.023256  0.0  0.0  0.000000  0.000000  0.6
3        0.367137  0.0  0.0  0.083333  0.545455  1.0
4        0.186772  0.0  0.0  0.083333  0.142857  1.0

[5 rows x 128 columns]

Atributos com as maiores variancias são os que mais influenciam no resultado do modelo. Vamos verificar quais são eles.

In [21]:
centroids = kmeans.cluster_centers_

max = len(centroids[0])

for i in range(max):
    print(dataframe.columns.values[i], "{:.4f}".format(centroids[:, i].var()))

BALANCE 0.0224
BALANCE_FREQUENCY 0.0000
PURCHASES 0.0197
ONEOFF_PURCHASES 0.0077
INSTALLMENTS_PURCHASES 0.0036
CASH_ADVANCE 0.0225
PURCHASES_FREQUENCY 0.0000
ONEOFF_PURCHASES_FREQUENCY 0.0000
PURCHASES_INSTALLMENTS_FREQUENCY 0.0000
CASH_ADVANCE_FREQUENCY 0.0000
CASH_ADVANCE_TRX 0.0000
PURCHASES_TRX 0.0000
CREDIT_LIMIT 0.0360
PAYMENTS 0.0280
MINIMUM_PAYMENTS 0.0541
PRC_FULL_PAYMENT 0.0000

BALANCE 0.0224

PURCHASES 0.0197

CASH_ADVANCE 0.0225

CREDIT_LIMIT 0.0360

PAYMENTS 0.0280

In [22]:
description = dataframe.groupby('cluster')[["BALANCE", "PURCHASES", "CASH_ADVANCE", "CREDIT_LIMIT", "PAYMENTS"]]

n_clients = description.size()

description = description.mean()

description['n_clients'] = n_clients

description

,BALANCE,PURCHASES,CASH_ADVANCE,CREDIT_LIMIT,PAYMENTS,n_clients
cluster,,,,,,
0,443.776995,629.282729,140.652097,5130.892579,814.340168,3279
1,1987.146873,858.326286,420.107194,2226.699029,1338.974045,412
2,3036.946177,385.299102,1637.380994,4495.584906,968.775192,2650
3,1141.865757,3274.071901,183.496011,4098.802182,3037.137165,1536
4,1795.328292,476.810531,3267.199032,3982.452201,4713.384730,1073

In [23]:
dataframe.groupby('cluster')["PRC_FULL_PAYMENT"].describe()

          count      mean       std  min  25%       50%       75%  max
cluster
0        3279.0  0.246881  0.346775  0.0  0.0  0.000000  0.444444  1.0
1         412.0  0.019271  0.090795  0.0  0.0  0.000000  0.000000  1.0
2        2650.0  0.001798  0.023256  0.0  0.0  0.000000  0.000000  0.6
3        1536.0  0.278331  0.367137  0.0  0.0  0.083333  0.545455  1.0
4        1073.0  0.117430  0.186772  0.0  0.0  0.083333  0.142857  1.0

CLUSTER 0: Clientes com o menor saldo, maior limite de crédito, menor saque, maior amostagem de clientes
CLUSTER 1: Menor amostragem de clientes, Menor limite de crédito, menor ratio de pagamento
CLUSTER 2: Clientes com o maior saldo, menor compras
CLUSTER 3: Maiores compras, maior ratio de pagamento
CLUSTER 4: Maiores saques